Debug
Release
*.sdf
*.suo
ipch
*.opensdf
*.orig


/PersonalProgram/Debug
/PersonalProgram/Release
/PersonalProgram/ipch


/PersonalProgram/Project/*/Debug
/PersonalProgram/Project/*/Release
/PersonalProgram/Project/*/*.user
/PersonalProgram/Project/*/*.orig
